
    

<div class="hero">
    <div class="box">
        <h1>Hafa Adai</h1>
        <p>Jesus never promised us a rose garden but will go through the thorns with us.</p>
    </div>
</div>

<div class="center-section">
    <div class="overlay">
        <div class="row">
            <div class="col-sm">
                <img src="https://images.unsplash.com/photo-1469467188629-fcc2fdaefa30?dpr=2&auto=format&fit=crop&w=1500&h=1001&q=80&cs=tinysrgb&crop=">
                <div class="box">
                    
                    <h2>I'm New</h2>
                    <p>Find Out What to Expect</p>
                </div>
                
            </div>
            
             <div class="col-sm">
                 <img src="https://images.unsplash.com/photo-1470686164816-830d3688f62c">
                 <div class="box">
                    <h2>Prayer</h2>
                    <p>Submit Your Request</p>
                 </div>
            </div>
            
             <div class="col-sm">
                 <img src="https://images.unsplash.com/photo-1473122430480-d00e6dd25ba8">
                 <div class="box">
                     
                    <h2>Calendar</h2>
                    <p>View Our Montly Schedule</p>
                 </div>
             </div>
        </div>
    </div>
    
</div>

